<table>
  <div id = comment_area>
    <%= render partial: 'book_comments/book_comment',locals: {book: @book,book_comment: @book_comment} %>
  </div>
</table>
<%= form_with model:[book,book_comment] do |f| %>
  <%= f.text_area :comment, size:"90x5" %><br>
  <%= f.submit '送信'%>
<% end %>
